
body{

font-family:
Arial;

background:
#f4f7fb;

}


.container{

width:
90%;

margin:
auto;

}



h1{

color:
#0b6e4f;

}


.card{

background:
white;

padding:
20px;

margin:
20px 0;

border-radius:
12px;

box-shadow:
0 3px 10px #ccc;

}



textarea{

width:
100%;

height:
100px;

}



button{

background:
#0b6e4f;

color:white;

padding:
12px 25px;

border:none;

border-radius:8px;

cursor:pointer;

}



table{

width:100%;

border-collapse:collapse;

}



td,th{

padding:10px;

border-bottom:1px solid #ddd;

}


pre{

background:#222;

color:#0f0;

padding:15px;

}